@import '../../styles/common.scss';

.centerContent {
    padding: 0 25% 0 25%;
}

.margin-top {
    margin: $space-xl 0 $space-xl 0;
}

.pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container {
    @extend .centerContent;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    background-color: $gray-bg;
}

.left, .right, .main {
    @extend .margin-top;
}

.left, .right {
    width: 250px;
}

.main {
    flex-grow: 1;
}

.main > * {
    @extend .margin-top;

    margin: 0 $space-l 0 $space-l;
}

.header {
    @extend .shadow-1dp;
    @extend .centerContent;

    height: 50px;
    width: 100vw;
    background-color: green;
    // background-color: $white-bg;
}

.footer {
    height: 200px;
    width: 100vw;
    background-color: rgb(160, 159, 159);
}

.nav {
    width: 250px;
    width: 100%;

    ul {
        display: flex;
        flex-direction: column;
    }

    ul > li {
        list-style: none;
        line-height: 1.8rem;
    }

    ul > li:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}