@import '../../styles/common.scss';

.pageWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
    .header, .footer {
        width: 100%;
        background-color: green;
    }

    .header {
        height: 50px;
    }

    .footer {
        height: 200px;
    }

    .container {
        height: 100%;
        width: clamp(600px, 90vw, 800px);
        margin: auto;
        background-color: blue;
    }

    .main {
        @extend .container;

        display: flex;
        flex-direction: row;

        .navBar, .right, .center {
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        .navBar, .right {
            width: clamp(100px, 25%, 150px);
        }

        .navBar {
            align-items: center;
            justify-content: space-evenly;
            background-color: yellow;

            ul {
                li {
                    text-decoration: none;
                    margin-bottom: 1.3rem;
                }

                li:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .center {
            flex-grow: 1;
            background-color: aqua;
        }

        .right {
            background-color: yellow;
        }
    }    
}